<!-- salad modal //-->
<div class="modal fade" id="salad-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Appetizer</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p><img src="holder.js/400x267" width="400" height="267" alt="Salad"></p>
          <h2>Green Salad</h2>
          <p>A great healthy start to your meal.</p>
          <p class="price">$9</p>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- salad modal //-->
<div class="modal fade" id="sandwich-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Appetizer</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p><img src="holder.js/400x267" width="400" height="267" alt="Sanddwich"></p>
          <h2>Veggie Sandwich</h2>
          <p>Tomatoes, lettuce, cheese, salsa.</p>
          <p class="price">$12</p>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
